.event{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background-color: #fff;
  text-decoration: none;
  position: relative;
}

.headerText {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.headerText h2 {
  color: green;
  background-color: #a2f0bc;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
}

.headerText p {
  color: #222;
  background-color: #f5f6fa;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.image {
  position: relative;
  height: 15rem;
}

.event img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
}
.date{
  display: flex;
  align-items: center;
  color: gray;
  font-weight: 600;
  margin-bottom: 1rem;
}
.location{
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.date p, .location p{
  margin-left: 0.5rem;
}
.author{
  color: #222;
  font-size: 1rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.actions {
  padding: 1rem;
  text-align: right;

}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover,
.actions a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
}

.itemFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemFooter p{
  margin-right: 0.3rem;
}
.itemFooter a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #130f40;
  font-weight: 600;
}
.content .name{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #222;
  text-transform: capitalize;
}